*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.clear:after{
  content: "";
  clear: both;
  display: block;
}
.box{
  // margin-top: 30px;
  width: 60%;
  margin: 30px auto;
}
.box .content-left{
  width: 20%;
  height: 1000px;
  margin: 10px 10px;
  background: #e8e8e8;
}
.box .content-left p{
  height: 30px;
  padding-left: 10px ;
  line-height: 30px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 1px solid #ffffff;
}
.box .content-left p:hover{
  background: #ccc;
}
.box .content-right{
  width: 75%;
  height: 1000px;
  margin: 10px 10px;
}
.box .content-right .tileme{
  height: 40px;
  background: #ccc;
  line-height: 40px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.box .content-right .content-img div:nth-child(1){
  width: 241px;
}
.box .content-right .content-img div:nth-child(2){
  width: 57%;
  font-size: 14px;
  margin-left: 10px;
}
.box .content-right .sea{
  margin-top: 30px ;
}
